

.About-container {
    margin: 5%;
    border: solid #fff 4px;
    height: 78vh;
    box-shadow: 0 0 20px 0 #fff;
    display: flex;
    z-index: 2;
    position: relative;
    justify-content: center;
    gap: 50px;
    align-items: center;
}