.footer {
    background-color: black;
    height: 200px;
    margin-left: -10%;
    margin-right: -10%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-top: solid white 4px;
}

.footer-title {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.footer-images {
    padding: 10px;
    filter: brightness(50%);
}

.linked-in {
    filter: grayscale(100%) brightness(140%);
}

.footer-images:hover , .footer-images-container:hover{
    filter: brightness(100%) grayscale(100%);
    transform: none;
    box-shadow: none;
}

.linked-in:hover {
    filter: grayscale(100%) brightness(60);
}

.footer-images:focus-visible {
    outline: none;
}

.footer-images-container {
    border: none;
    height: 40px;
    width: 40px;
}

.footer-img {
    flex-direction: row;
    display: flex;
    column-gap: 20px;

}